html {
  font-size: 15px; }

/*Estilos bloque bienvenidos*/
.bienvenidos {
  background: url("../images/fondo-bienvenidos.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden; }

.navbar-fixed-top {
  background: rgba(0, 0, 0, 0.75); }

.navbar-light .navbar-brand {
  color: #fdfdfd;
  font-size: 1.3rem;
  text-transform: uppercase; }

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.98); }

.navbar-toggler {
  font-size: 1.6rem;
  color: #fff !important; }

.navbar-light .navbar-nav .nav-link {
  color: white;
  text-align: center;
  padding: .4rem;
  text-transform: uppercase; }

.navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .open > .nav-link:focus, .navbar-light .navbar-nav .open > .nav-link:hover, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .active > .nav-link:focus, .navbar-light .navbar-nav .active > .nav-link:hover, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.open:focus, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:focus, .navbar-light .navbar-nav .nav-link.active:hover {
  color: rgba(255, 255, 255, 0.95);
  background: #000bef; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: white;
  background: #000bef; }